.c1{
    
    background-color: white;
    margin-top: 100px;
    margin-left: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 30px;s
    
}

.c2{
    
    background-color: gold;
    margin-top: 200px;
    margin-left: 50px;
    
}

.c3{
    
    background-color: red;
    margin-top: 300px;
    margin-left: 100px;
    
}