<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.s1.product.ProductDAO">
  	<select id="getProductList" resultType="ProductDTO" statementType="PREPARED">
  		SELECT PRODUCT_NUM, PRODUCT_NAME, PRODUCT_JUMSU
  		FROM PRODUCT
  		ORDER BY PRODUCT_NUM DESC
  	</select>
  	<select id="getProductDetail" parameterType="ProductDTO" resultType="com.iu.s1.product.ProductDTO">
  		SELEC * FROM PRODUCT WHERE PRODUCT_NUM=#{product_Num}
  	</select>
  	
  	<insert id="setProductAdd" parameterType="ProductDTO">
  		INSERT INTO PRODUCT
  		VALUES (#{product_Num}, #{product_Name}, #{product_Detail}, 0.0)
  	</insert>
  	
  	
  	<delete id="setProductDelete" parameterType="Long">
  		DELETE PRODUCT WHERE PRODUCT_NUM=#{product_NUM}
  	</delete>
  </mapper>